.ticket-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.description {
  width: 100%;
  max-width: 400px;
  margin-top: 0px;
}
.container-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buy-ticket-btn {
  background-color: #a4a4a4;
  padding: 10 15px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  outline: 4px solid transparent;
  transition: 0.8s ease;
  border-style: none;
}
.buy-ticket-btn:hover {
  background-color: #cfcfcf;
  color: #000;
  border-style: none;
}
