body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.info-container {
  display: grid;
  grid-template-columns: repeat(130px, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  padding: 10px;
  background-color: rgb(212, 111, 195);
}

.img {
  width: 130px;
  height: auto;
  object-fit: cover;
  grid-column: 1/2;
  grid-row: 1/ 3;
}

.date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  grid-column: 1/3;
  grid-row: 2/3;
}

h3 {
  font-size: 20px;
  color: #fce8fa;
}

.event-name {
  grid-column: 1 / 3;
  grid-row: 1/3;
  color: #fce8fa;
  margin-bottom: 5rem;
  font-size: 35px;
  letter-spacing: 1px;
  text-align: center;
  align-self: center;
}
