/* .genre-wrapper {
  height: 150vh;
  color: white;
} */
.genre-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 3em;
  background: linear-gradient(to right, #ff0080, #8000ff);
  height: 93vh; /* Adjusted a bit size since I made 4th of row*/
}
.genre-button {
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px #1b1a1a;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

.button {
  height: fit-content;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.genre-button:hover {
  opacity: 0.9;
  transform: scale(1.05);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

@media (max-width: 850px) {
  .genre-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }
  .genre-button {
    font-size: 20px;
  }
}

@media (max-width: 580px) {
  .genre-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .genre-button {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .genre-container {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
  .genre-button {
    font-size: 18px;
  }
}
