.landing-page {
    text-align: center;
    height: 150vh;
}

.music-section {
    margin: 3em 0;
    font-size: 2em;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.event-card {
    width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.event-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.events h2,
.current-city-info,
.genre-section h2 {
    margin: 2em 0;
}

.city-input {
    margin: 2em 0;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 30em;
}

.bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1em;
}

.events {
    flex: 3;
}

.genre-section {
    flex: 1;
}
