.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 3em 0;  affected to header(get space on above of the header)  */
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
  width: 100%;
  max-width: 1200px;
  margin: 5em 0;
}

.main-event-banner {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #130101, #2b0922, #ff6cee);
  padding: 20px;
  color: white;
}

.banner-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
}

.banner-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
}

.event-slider {
  display: flex;
  overflow-x: auto;
  gap: 1em;
}

.event-card {
  width: 200px;
  flex-shrink: 0;
  text-align: center;
}

.event-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }
}
